@import './reset.css';
@import './nprogress.css';
@import './transition.css';

html,
body,
#app {
  height: 100%;
}

/* 弹出层内容随页面等比缩放 */
body > .v-binder-follower-container .v-binder-follower-content > * {
  zoom: var(--autofit-zoom, 1);
}

html {
  overflow-x: hidden;
}

html.grayscale {
  filter: grayscale(100%);
}
